layout {
    pane split_direction="vertical" {
        pane cwd="/home/mukund/computer/programming/ai/become-ai-engineer/03-TECH-langchain-rag" name="langchain-rag" command="zsh" {
            args "-c" "antigravity . && exec zsh"
        }
        pane cwd="/home/mukund/computer/programming/ai/become-ai-engineer/03-TECH-langchain-rag" name="aux"
    }
}
