layout {
    pane split_direction="vertical" {
        pane cwd="/home/mukund/workarea/getforj/experiments/railway-deployment-experiments" name="railway" command="zsh" {
            args "-c" "antigravity . && exec zsh"
        }
        pane cwd="/home/mukund/workarea/getforj/experiments/railway-deployment-experiments" name="railway-aux"
    }
}
