layout {
    pane split_direction="vertical" {
        pane cwd="/home/mukund/computer/programming/embeded/rust-esp" name="rust-esp" command="zsh" {
            args "-c" "antigravity . && exec zsh"
        }
        pane cwd="/home/mukund/computer/programming/embeded/rust-esp" name="rust-esp-aux"
    }
}
