layout {
    pane split_direction="vertical" {
        pane cwd="/home/mukund/workarea/getforj/spark-graphql" name="spark-graphql" command="zsh" {
            args "-c" "antigravity . && exec zsh"
        }
        pane cwd="/home/mukund/workarea/getforj/spark-graphql-test" name="spark-graphql-test"
    }
}
